altgraph==0.17.4
auto-py-to-exe==2.46.0
bottle==0.13.3
bottle-websocket==0.2.9
camelot-py @ file:///home/conda/feedstock_root/build_artifacts/camelot-py_1704149510262/work
certifi==2025.4.26
cffi @ file:///D:/bld/cffi_1725560718594/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1741797914774/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1746214863626/work
click @ file:///D:/bld/click_1746951616968/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy @ file:///D:/bld/contourpy_1744743092453/work
cryptography @ file:///D:/bld/cryptography-split_1746241895414/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
Eel==0.18.1
et_xmlfile @ file:///home/conda/feedstock_root/build_artifacts/et_xmlfile_1733749653422/work
fonttools @ file:///D:/bld/fonttools_1746913580142/work
future==1.0.0
gevent==25.5.1
gevent-websocket==0.10.1
ghostscript @ file:///home/conda/feedstock_root/build_artifacts/python-ghostscript_1735328025368/work
git-filter-repo==2.47.0
greenlet==3.2.2
idna==3.10
kiwisolver @ file:///D:/bld/kiwisolver_1725459380935/work
matplotlib==3.10.3
munkres==1.1.4
numpy @ file:///D:/bld/numpy_1745118932824/work/dist/numpy-2.2.5-cp313-cp313-win_amd64.whl#sha256=70b26fb49b3709b258c01f416229ce76fcfc2d669138e1e1cf7145e874630cf6
opencv-python==4.11.0
opencv-python-headless==4.11.0
openpyxl @ file:///D:/bld/openpyxl_1725460859383/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
pandas @ file:///D:/bld/pandas_1744430475950/work
pdfminer.six==20250327
pdfplumber==0.11.6
pdftopng @ file:///D:/bld/pdftopng_1747132913618/work
pefile==2023.2.7
pillow @ file:///D:/bld/pillow_1746646257525/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pycparser_1733195786/work
pycryptodome @ file:///D:/bld/pycryptodome_1742139625315/work
pyinstaller==6.13.0
pyinstaller-hooks-contrib==2025.4
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1743089729650/work
pypdf @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pypdf_1747002284/work/dist
pypdfium2==4.30.1
PySide6==6.8.3
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1733215673016/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1742920838005/work
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==80.1.0
shiboken6==6.8.3
six @ file:///home/conda/feedstock_root/build_artifacts/six_1733380938961/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1733589744265/work
tornado @ file:///C:/Users/dev-admin/buildout/croot/tornado_1735843426044/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1744302253/work
tzdata @ file:///home/conda/feedstock_root/build_artifacts/python-tzdata_1742745135198/work
urllib3==2.4.0
zope.event==5.0
zope.interface==7.2
